doctype html
html
  include ./partials/_head.pug
  body
    include ./partials/_nav.pug
    block content
    script(src="https://code.jquery.com/jquery-3.1.0.min.js", integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin="anonymous")
    script(src="/javascripts/jquery.sticky.js")
    script(src="/javascripts/main.js")